extends layout.pug

block content
  h1 Edit Book Review
  form(action=`/reviews/${review._id}?_method=PUT`, method="POST")
    div
      label(for="title") Title:
      input(type="text", name="title", value=review.title, required)
    div
      label(for="author") Author:
      input(type="text", name="author", value=review.author, required)
    div
      label(for="genre") Genre:
      input(type="text", name="genre", value=review.genre, required)
    div
      label(for="review") Review:
      textarea(name="review", required)= review.review
    div
      button(type="submit") Update