doctype html
html
  head
    title Book Reviews
  body
    h1 Book Reviews
    a(href="/new") Add New Review
    if reviews.length
      ul
        each review in reviews
          li
            strong #{review.title} 
            | by #{review.author} (#{review.genre})
            p #{review.review}
            a(href=`/edit/${review.id}`) Edit
            form(action=`/delete/${review.id}` method="POST" style="display:inline;")
              button(type="submit") Delete
    else
      p No reviews yet!